<!doctype html>
<html>
    <head>
        <meta name="id" content="61f4987cee02ae72472415e3">
        <link rel="stylesheet" href="/greeting.css">
    </head>
    <body>
        <img src='/gorilla.png'></img>
        <div>Hello <%= name %>, <%= date %></div>
    </body>
</html>
